---
const {title, titleClass, subtitle, backgroundColor, secondaryColor} = Astro.props;
---

<header class="heading unmargin" style={`background-color: ${backgroundColor}`}>
  <div class="heading-left">
    <slot name="left"/>
  </div>
  <div class="heading-right">
    <h1 style={{color: secondaryColor}} class={titleClass || ""}>{title}</h1>
    <span style={{color: secondaryColor}}>{subtitle}</span>
    <slot name="right" />
  </div>
</header>

<style>
  .heading {
    /* sizing */
    /* padding: 1rem; */
    margin-bottom: 2rem;
    min-height: 500px;

    /* nesting */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .heading h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  .heading span {
    font-size: 1.5rem;
  }

  .heading-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50vw;
  }

  .heading-right {
    text-align: left;
    padding: 1rem;
    width: 40vw;
    margin-left: -50px;
  }

  @media (max-width: 800px) {
    .heading {
      flex-direction: column;
    }

    .heading-left {
      width: 100%;
      justify-content: center;
      overflow: hidden;
    }
    .heading-right {
      width: auto;
      margin-left: 0;
    }
  }
</style>