---
const { title, link, description } = Astro.props;
---

<a href={link}>
<div>
    <span class="heading">
      <slot name="icon" />
      <h3>{title}</h3>
    </span>
    {description && <p>{description}</p>}
  </div>
</a>

<style>
  div {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 250px;
    color: black;
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  h3 {
    margin: 0;
  }
</style>