---
// import { CommandPalette } from './CommandPalette.tsx';
import Search from 'astro-pagefind/components/Search';
// import * from 'pagefind/pagefind-highlight.js';
// const commands = [
//   {name: 'Resume', href: '/resume', description: 'Things I did' },
//   {name: 'Blog', description: 'Things I wrote about', href: '/blog' },
//   {name: 'Copy email', description: 'The thing you want', action: () => navigator.clipboard.writeText('gulko.5@osu.edu')},
// ]
import { Search as SearchIcon } from 'lucide-astro';
---


<dialog id="command-dialog" class="disappear">
  <Search id="pagefind-ui" uiOptions={{
    showImages: false,
    showSubResults: true,
    highlightParam: "highlight"
  }}/>
</dialog>

<button id="open-search-button" class="icon" title="Search">
  <SearchIcon />
</button>

<script>
  const commandDialog = document.getElementById('command-dialog') as HTMLDialogElement;
  

  document.getElementById('open-search-button')?.addEventListener('click', () => {
    commandDialog.showModal();
    commandDialog.classList.remove('disappear');
  });

  commandDialog.addEventListener('click', (e) => {
    if (e.target === commandDialog) {
      commandDialog.classList.add('disappear');
      setTimeout(() => {
        commandDialog.close();
      }, 100);
    }
  });

</script>

<style>
  #command-dialog {
    border: none;
    border-radius: 1rem;
    width: 70%;
    /* min-width: 400px; */
    transition: 0.1s all;
  }
  #command-dialog.disappear {
    filter: blur(30px);
    /* opacity: 0.1; */
  }

  @media (max-width: 800px) {
    #command-dialog {
      width: 100%;
      height: 75%;
    }
  }

  
</style>
