---
// first party
import type { MarkdownLayoutProps } from 'astro';
// import { ViewTransitions } from 'astro:transitions';

// custom
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

type Frontmatter = MarkdownLayoutProps<{
  title: string;
	description: string;
  created: string;
	updated: string;
}>;

const { frontmatter, url } = Astro.props as Frontmatter;

const links = [
	{ href: '/', label: 'Home' },
	{ href: '/resume', label: 'Resume' },
];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title}</title>

		<meta name="description" content={frontmatter.description} />
		<meta name="author" content="Alex Gulko" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link
		rel="alternate"
		type="application/rss+xml"
		title="Alex Gulko"
		href={new URL("rss.xml", Astro.site)}
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />
		<!-- <ViewTransitions /> -->
	</head>
	<body>
			<Navbar links={links}/>
			<main>
				<slot />
			</main>
			<Footer />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'lexend';
		src: url('/fonts/Lexend-Light.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Computer Modern';
		src: url('/fonts/computer-modern.ttf') format('truetype');
	}
	:root {
		--selected-color: #2b66dd;
		--general-font: 'lexend', sans-serif;
		--serif-font: 'Computer Modern', serif;
		--mono-font: monospace;

		--pagefind-ui-font: var(--general-font);
	}

	::backdrop {
    backdrop-filter: blur(4px);
  }
	html {
		font-family: var(--general-font);
	}
	body {
		margin: 0;
	}
	main {
		/* margin: 2rem; */
		min-height: 100vh;
	}
	p {
		font-size: 1.2rem;
		margin-bottom: 1rem;
		line-height: 1.5;
	}
	section {
		margin: 2rem 10%;
	}
	.unmargin {
		margin: 0 -10%;
	}

	p > a,
	span > a {
		word-break: break-word;
		transition: 0.2s;
	}
	a {
		color: var(--selected-color);
		text-decoration: none;
	}
	p > a:hover,
	span > a:hover {
		text-decoration: none;
		color: white;
		background-color: var(--selected-color);
		border-radius: 0.5rem;
		padding: 0.3rem 0.3rem;
	}

	button, a.button {
		font-family: var(--general-font);
		border: none;
		cursor: pointer;
	}

	a.icon, button.icon {
		background-color: transparent;
		color: black;
		padding: 0;
	}

	h1 {
		font-size: 2rem;
		font-weight: 500;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.font-serif {
		font-family: var(--serif-font)
	}
	.font-sans {
		font-family: var(--general-font);
	}
	.font-mono {
		font-family: var(--mono-font);
	}

	.center {
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		align-items: center;

	}

	.horizontal {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}
</style>
