---
// first party
import type { MarkdownLayoutProps } from 'astro';
// import { ViewTransitions } from 'astro:transitions';

// custom
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

type Frontmatter = MarkdownLayoutProps<{
  title: string;
	description: string;
  created: string;
	updated: string;
	tags?: string[];
}>;

const { frontmatter, url } = Astro.props as Frontmatter;
const addedTags = frontmatter.tags ? ", " + frontmatter.tags.join(", ") : "";

const links = [
	{ href: '/', label: 'Home' },
	{ href: '/resume', label: 'Resume' },
];
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- general -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{frontmatter.title}</title>
		<meta name="description" content={frontmatter.description} />

		<!-- SSO -->
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="author" content="Alex Gulko" />
		<meta name="keywords" content={"Alex Gulko, Gulko, CS, OSU, research, personal, blog, software, engineering, programming, web, development" + addedTags} />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#2b65dd" />
		<meta name="application-name" content="Alex Gulko" />

		<!-- favicon -->
		<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
		<link rel="shortcut icon" href="/favicon/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
		<meta name="apple-mobile-web-app-title" content="Alex Gulko" />
		<link rel="manifest" href="/favicon/site.webmanifest" />
		
		<!-- rss -->
		<link
		rel="alternate"
		type="application/rss+xml"
		title="Alex Gulko"
		href={new URL("rss.xml", Astro.site)}
		/>
		<!-- <ViewTransitions /> -->

		<!-- Google tag (gtag.js) -->
		<script async is:inline src="https://www.googletagmanager.com/gtag/js?id=G-P1RK1FBCJM"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-P1RK1FBCJM');
		</script>
	</head>
	<body>
		<Navbar links={links}/>
		<main>
			<slot />
		</main>

		<Footer />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Lexend';
		src: url('/fonts/Lexend-Light.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Computer Modern';
		src: url('/fonts/computer-modern.ttf') format('truetype');
	}
	@font-face {
		font-family: 'Space Mono';
		src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
	}

	:root {
		--active-color: #2b65dd;
		--active-color-transparent: #2b66dd70;
		--general-font: 'Lexend', sans-serif;
		--serif-font: 'Computer Modern', serif;
		--mono-font: 'Space Mono', monospace;

		--pagefind-ui-font: var(--general-font);
	}

	::backdrop {
    backdrop-filter: blur(4px);
  }
	html {
		font-family: var(--general-font);
	}
	body {
		margin: 0;
	}
	main {
		/* margin: 2rem; */
		min-height: 100vh;
	}
	p {
		font-size: 1.2rem;
		margin-bottom: 1rem;
		line-height: 1.5;
	}
	section {
		margin: 2rem 10%;
	}
	.unmargin {
		margin: 0 -10%;
	}

	p > a,
	span > a {
		word-break: break-word;
		transition: 0.2s ease-in-out;
	}
	a {
		color: var(--active-color);
		text-decoration: none;
	}
	p > a:hover,
	span > a:hover {
		text-decoration: none;
		color: white;
		background-color: var(--active-color);
		border-radius: 0.5rem;
		padding: 0.3rem 0.3rem;
	}

	p > a:active,
	span > a:active {
		box-shadow: #2b66dd6c 0px 0px 0px 0.5rem;
	}

	button, a.button {
		font-family: var(--general-font);
		background-color: none;
		border: none;
		cursor: pointer;
	}

	a.icon, button.icon{
		background-color: transparent;
		color: black;
		padding: 0;
	}

	h1 {
		font-size: 2rem;
		font-weight: 500;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	h2 {
		font-size: 1.5rem;
		font-weight: 500;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.font-serif {
		font-family: var(--serif-font)
	}
	.font-sans {
		font-family: var(--general-font);
	}
	.font-mono {
		font-family: var(--mono-font);
	}

	.center {
		margin-left: auto;
		margin-right: auto;
		width: fit-content;
		align-items: center;

	}

	.horizontal {
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

</style>
